<% @game.each do |game| %>
    <% if user_signed_in? %>
        <div class="list-item col-10 offset-1">
            &nbsp;
            &nbsp;
            &nbsp;
            <h6>Join a Game</h6>
            &nbsp;
            &nbsp;
            <%= link_to game.game_name, game_path(game), id: "sizing" %>
        </div>
    <% end %>
<% end %>