@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merienda');

a.nav-link {
  float: right;
  color: purple;
}

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.chessboard {
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #181818;

  tr td {
    width: 60px;
    height: 60px;
  }
}

.chessboard tr:nth-child(2n) td:nth-child(2n+1) {
  background: #9f9f9f;
}

.chessboard tr:nth-child(2n+1) td:nth-child(2n) {
  background: #9f9f9f;
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #9f9f9f; 
} 

div {
  text-align: center;
}

.list {
  text-align: left;
  width: 60%;
  background-color: #9f9f9f;
}

.list-item {
  border: 1px solid #000000;
  text-align: center;
  background-color: #9f9f9f;
  margin: 10px auto 10px auto;
  padding: 0px;
  height: 100px;
}

ul{
  list-style-type: none;
}

.chessboard tr:nth-child(2n+1) td:nth-child(2n) {
  background: #9f9f9f;
}

.text-center {
  color: green;
  font-family: 'Merienda';
}

.sign-in-up {
  float: right;
  padding: 20px;
  display: inline-block;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
  height: 50px;
}

nav.inline {
  display: inline-block;
}

#sizing {
  font-size: 36px;
  font-style: bold;
}

#game_game_name {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#left-margin {
  margin-left: 150px;
}